@using Microsoft.AspNetCore.Components.Web

@if (ChildContent is object)
{
    <div class="blaze-toast blaze-toast-container blaze-toast-component">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>

        @if (ToastComponentSettings.ShowProgressBar)
        {
            <div class="blaze-toast-progressbar">
                <span style="width: @(_progress)%;"></span>
            </div>
        }
    </div>
}
else
{
   
    <div class="blaze-toast blaze-toast-container  @ToastSettings.AdditionalClasses" @onclick="ToastClick">
        <div class="@ToastSettings.BaseClass d-flex justify-content-between toast-head">
            <div>
                <h5 class="text-light mb-0"><strong>@ToastSettings.Heading</strong></h5>
            </div>
            <div>
                <button @onclick=@Close class="blaze-toast-close"><i class="fa-regular fa-circle-xmark"></i></button>
            </div>
        </div>
        <div class="toast-main">
            <div class="d-flex p-3">
                <div class="w-15-blaze">
                    <i class="@ToastSettings.Icon @ToastSettings.BaseClass-icon f-25px"></i>
                </div>
                <div class="w-85-blaze">
                    <p class="message-text mb-0">@ToastSettings.Message</p>
                </div>
            </div>
            <div class="blaze-toast-progressbar">
                <span style="width: @(_progress)%;"></span>
            </div>
        </div>
      
    </div>
}