@using Blaze.Toast.Configuration
@inject IToastService toastService



<div class="container">
    <h4>Toast Types</h4>
    <div>
        <button class="btn btn-success" @onclick="@(() => toastService.ShowSuccess("Success toast example", "Success"))">Success</button>
        <button class="btn btn-info" @onclick="@(() => toastService.ShowInfo("Primary toast example","Primary"))">Primary</button>
        <button class="btn btn-warning" @onclick="@(() => toastService.ShowWarning("Warning toast example","Warning"))">Warning</button>
        <button class="btn btn-danger" @onclick="@(() => toastService.ShowError("Error toast example"))">Error</button>
    </div>
    <br />
    <h4>Toast With Custom HTML</h4>
    <div>
        <button class="btn btn-primary" @onclick="@ToastPrimaryWithHtml">Primary</button>
        <button class="btn btn-succeess" @onclick="@ToastSuccessWithHtml">Success</button>
        <button class="btn btn-warning" @onclick="@ToastWarningWithHtml">Warning</button>
        <button class="btn btn-danger" @onclick="@ToastDangerWithHtml">Danger</button>
    </div>
</div>

@code
{
    private ToastParameters _toastParameters;

    protected override void OnInitialized()
    {
        _toastParameters = new ToastParameters();
    }

    private void ToastWarningWithHtml()
    {
        RenderFragment message =@<text>This is and <em>Example</em> of <strong>HTML TOAST</strong></text>;
        toastService.ShowToast(ToastLevel.Warning, message);
    }
    private void ToastDangerWithHtml()
    {
        RenderFragment message =@<text>This is and <em>Example</em> of <strong>HTML TOAST</strong></text>;
        toastService.ShowToast(ToastLevel.Error, message);
    }
    private void ToastSuccessWithHtml()
    {
        RenderFragment message =@<text>This is and <em>Example</em> of <strong>HTML TOAST</strong></text>;
        toastService.ShowToast(ToastLevel.Success, message);
    }
    private void ToastPrimaryWithHtml()
    {
        RenderFragment message =@<text>This is and <em>Example</em> of <strong>HTML TOAST</strong></text>;
        toastService.ShowToast(ToastLevel.Info, message);
    }

    private void ClearAll()
        => toastService.ClearAll();

    private void ClearWarnings()
        => toastService.ClearToasts(ToastLevel.Warning);

    private void ClearInfos()
        => toastService.ClearInfoToasts();

    private void ClearCustom()
        => toastService.ClearCustomToasts();
}
